body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.dis-inb {
    display: inline-block;
    vertical-align: middle;
}
.dis-blo {
    display: block;
}
h1 {
    font-weight: normal;
    font-size: 5vh;
}
h4  {
    font-weight:100;
}
header {
    height: 12vh;
    margin: 3vh;
}
header img {
    height: 10vh;
    width: 10vh;
}
.header-right{
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 5vh;
}

@media only screen and (min-width: 800px) {
    .message-attach {
        width: 5vw;
    }
    .message-body {
        font-size: 3.2vh;
        width: 40vw;
        overflow: hidden;
    }
    .message-list {
        position: absolute;
        height: 80vh;
        left: 20vw;
        margin-right: 10vw;
        top: 18vh;
        width: 75vw;
    }
    .message-string {
        height: 9vh;
        padding: 1vh;
        width: 75vw;
    }
    .message-string img {
        margin: 2vh;
        max-height: 4vh;
        max-width: 4vw;
        vertical-align: middle;
    }
    .receipients {
        font-size: 3.2vh;
        width: 15vw;
    }
    .side-menu {
        font-size: 3.6vh;
        position: relative;
        height: 100%;
        margin: 5vh;
        width: 15vw;
    }
}